.model{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    gap:10px;
    position: relative;
}
.body{
    height: 100%;
}
@media screen and (max-width:1000px) {
    .model{
        gap:5px;
    }
    .model h4{
        font-size: medium;
    }
}