.active{
    font-weight: 900;
}
nav{
    position: fixed;
    top: 0;
    z-index: 20;
    overflow: hidden;
    background-color: var(--color1);
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}
.nav{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 0px;
}
.nav ul{
    justify-self: flex-end;
    margin-left: auto;
    padding: 0px;
    list-style-type: none;
}
nav .logo{
    font-size: large;
    height: 100%;
    text-align: center;
}
a:hover{
    color:#FFFFFF;
}
